index.html
<!DOCTYPE html><html><head><title>Welcome to Cloud Idea</title><link rel="stylesheet" href="css/reset.css" type="text/css"><link rel="stylesheet" href="css/style.css" type="text/css"><meta name="viewport" content="width=device-width, initial-sclae=1"><link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"></head><body><div id="container"><header><img id="logo" src="images/logo.jpg" alt="Cloud Idea"></header><div id="main-text"><h1>Welcome to our landing page</h1><h4>Sweet marzipan bonbon gingerbread macaroon cotton candy drage jujubes topping.</h4></div><div id="sub-1"><ul class="points"><li> <img src="images/number1.png" alt="Point 1"><h4>Point One</h4><p>Topping canoli caramels. Pie croissant candy sweet canoli.          </p></li><li> <img src="images/number2.png" alt="Point 2"><h4>Point One</h4><p>Tootsie roll danish sugar plum jelly.        </p></li><li> <img src="images/number3.png" alt="Point 3"><h4>Point One</h4><p>Tootsie roll danish sugar plum jelly.</p></li></ul><div class="content-footer"><h3>More About Us</h3><p>Pastry tootsie roll chocolate bar sesame snaps jelly-o marzipan chupa chups cheesecake wafer. </p></div></div><div id="sub-2"><form id="contact-form"><div class="content-header"><h3>Getting Started</h3><p>Candy brownie muffin carrot cake jelly carrot cake.</p></div><div> <label>Name*</label><input type="text" required></div><div><label>Email*</label><input type="email" required></div><div><label>Company</label><input type="text"></div><div> <label>Phone</label><input type="tel"></div><div><em>* Required Fields</em><input type="submit" value="Get in Touch"></div><div class="clearfix"></div><div class="content-footer"><p>We would never use any of our subscibers personal information for anything unspecified.</p></div></form></div><div class="clearfix"></div><div id="testimonial"><img src="images/testimonial.png" alt="Customber Testimonial"><blockquote><em>Cupcake ipsum dolor sit. Amet bear claw soufflé gummi bears. Halvah gummies tart canoli caramels caramels. Oat cake chocolate cake icing caramels canoli bear claw donut. Fruitcake toffee canoli sweet roll topping sesame snaps. Ice cream cotton candy jelly muffin fruitcake icing marzipan. Caramels marshmallow tart bear claw caramels powder muffin cookie jelly beans. Sugar plum chocolate tart bonbon cake caramels cotton candy marshmallow." <strong>John Doe From Some Company</strong></em></blockquote></div><footer><p>Copyright &copy; 2016 Cloud Idea Company</p></footer></div></body></html>

index.jade
doctype html
html
  head
    title Welcome to Cloud Idea
    link(rel='stylesheet', href='css/reset.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  body
    #container
      header
        img#logo(src='images/logo.jpg' alt='Cloud Idea')
      #main-text
        h1 Welcome to our landing page
        h4 Sweet marzipan bonbon gingerbread macaroon cotton candy drage jujubes topping.
     
      #sub-1
        ul.points
          li 
            img(src='images/number1.png' alt='Point 1') 
            h4 Point One
            p Topping canoli caramels. Pie croissant candy sweet canoli.          
          li 
            img(src='images/number2.png' alt='Point 2') 
            h4 Point One
            p Tootsie roll danish sugar plum jelly.        
          li 
            img(src='images/number3.png' alt='Point 3') 
            h4 Point One
            p Tootsie roll danish sugar plum jelly.
        .content-footer
          h3 More About Us
          p Pastry tootsie roll chocolate bar sesame snaps jelly-o marzipan chupa chups cheesecake wafer. 
        
      #sub-2
        form#contact-form
          div.content-header
            h3 Getting Started
            p Candy brownie muffin carrot cake jelly carrot cake.
         
          div 
            label Name*
            input(type='text', required)
          div
            label Email*
            input(type='email', required)
          div
            label Company
            input(type='text')
          div 
            label Phone
            input(type='tel')
          div
            em * Required Fields
            input(type='submit', value="Get in Touch")
          div.clearfix
          div.content-footer
            p We would never use any of our subscibers personal information for anything unspecified.
      div.clearfix
      div#testimonial
        img(src='images/testimonial.png' alt='Customber Testimonial')
        blockquote
          em Cupcake ipsum dolor sit. Amet bear claw soufflé gummi bears. Halvah gummies tart canoli caramels caramels. Oat cake chocolate cake icing caramels canoli bear claw donut. Fruitcake toffee canoli sweet roll topping sesame snaps. Ice cream cotton candy jelly muffin fruitcake icing marzipan. Caramels marshmallow tart bear claw caramels powder muffin cookie jelly beans. Sugar plum chocolate tart bonbon cake caramels cotton candy marshmallow." <strong>John Doe From Some Company</strong>
      
      footer
       p #{new Date().getFullYear()} Cloud Idea Company
